@import "../../../../styles/variables";

.calc__screen {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;

  padding: 2rem;

  background-color: $darkGray;

  border-radius: 0 0 2em 2rem;

  text-align: right;
}

.calc__question {
  position: relative;

  height: 8rem;

  padding-right: 0.6rem;

  color: $white;
  font-size: 6.4rem;

  &:after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;

    width: 1px;
    height: 100%;
    display: block;

    background-color: $lightBlue;

    animation: caretAnimation 1s infinite;
  }
}

.calc__answer {
  height: 8rem;

  font-size: 5rem;

  color: $darkWhite;
}

@keyframes caretAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}