@import "../../styles/variables";

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 8rem;

  color: $white;
  background-color: $lightBlack;

  border-radius: 50%;

  font-size: 4rem;
  line-height: 1;

  transition: background-color 0.3s;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: lighten($lightBlack, 7%)
  }

  &--ac_mod {
    grid-column: 1/4;

    background-color: $purple;

    border-radius: 6rem;

    &:hover,
    &:focus {
      background-color: lighten($purple, 7%)
    }
  }

  &--equals_mod {
    background-color: $blue;

    &:hover,
    &:focus {
      background-color: lighten($blue, 7%)
    }
  }

  &--operation_mod {
    background-color: $gray;

    &:hover,
    &:focus {
      background-color: lighten($gray, 7%)
    }
  }

  &--zero_mod {
    grid-column: 1/3;

    border-radius: 6rem;
  }
}