@import "../../styles/variables";

.button__wrapper {
  position: relative;

  flex: 0 0 calc(25% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  padding-bottom: calc(25% - 1rem);

  color: $white;
  background-color: $lightBlack;

  border-radius: 50%;

  font-size: 4rem;
  line-height: 1;

  transition: background-color 0.3s;

  cursor: pointer;

  overflow: hidden;

  &:hover,
  &:focus {
    background-color: lighten($lightBlack, 7%)
  }

  &--ac_mod {
    flex: 0 0  calc(75% - 1rem);

    background-color: $purple;

    border-radius: 6rem;

    &:hover,
    &:focus {
      background-color: lighten($purple, 7%)
    }
  }

  &--equals_mod {
    background-color: $blue;

    &:hover,
    &:focus {
      background-color: lighten($blue, 7%)
    }
  }

  &--operation_mod {
    background-color: $gray;

    &:hover,
    &:focus {
      background-color: lighten($gray, 7%)
    }
  }

  &--zero_mod {
    flex: 0 0 calc(50% - 1rem);

    border-radius: 6rem;
  }

  @media (max-width: 768px) {
    font-size: 3.4rem;
  }
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: inherit;
  font-size: inherit;
  color: inherit;
}