.calc__wrapper {
  flex: 0 1 auto;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding: 1rem;
}

.calc__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1rem;

  width: 100%;
}
